<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
	<?php include "html_model/head.html";?>
	<!-- CSS FRO THIS PAGE ONLY -->
	<link rel="stylesheet" href="css/invoice.css">
</head>

<body class="body-wrapper">
	<!--loaded-->
	<div class="main-wrapper">
		<!-- ====================================
		——— HEADER
		===================================== -->
		<header id="pageTop" class="header-wrapper">
			<?php include "html_model/header/header-1.html";?>
			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<?php include "html_model/header/header-2.html";?>
				</div>
				<!-- ====================================
				——— BREAD CRUMB 
				===================================== -->
				<div class="layout-breadcrumb-box">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb text-truncate">
								<li class="breadcrumb-item">
									<a href="#">首頁</a>
								</li>
								<li class="breadcrumb-item">
									<a href="">我的專區</a>
								</li>
								<li class="breadcrumb-item">
									電子發票
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</nav>
		</header>
		<!-- aside + main -->
		<div class="container container-main container-col-2">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sticky-top aside-lb">
					<div class="panel-heading bg-color-5 border-color-5">
						<h3 class="panel-title">我的專區</h3>
						<div class="aside-lb-close">x</div>
					</div>
					<?php include "html_model/mypage/aside-file.html";?>
					<aside class="layout-sub px-4 py-4">
						<ul class="art-list-f2">
							<?php include "html_model/mypage/aside.html";?>
						</ul>
					</aside>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9">
					<div class="layout-main layout-deco-title">
						<?php include "html_model/uikit/aside-lb-open.html";?>
						<div class="sectionTitle text-center color-5 mt-0">
							<h2>
								<span class="shape shape-left"></span>
								<span>電子發票</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						<h3 class="layout-title-level-3 color-5">已開立電子發票</h3>
						<div class="retabcard">
							<div class="retabcard-row retabcard-row-title">
								<div class="retabcard-cell">發票日期</div>
								<div class="retabcard-cell">發票號碼</div>
								<div class="retabcard-cell">交易金額</div>
								<div class="retabcard-cell">發票明細</div>
								<div class="retabcard-cell">備註</div>
							</div>
							<div class="retabcard-row">
								<div class="retabcard-cell">
									<div class=retabcard-cell-index>發票日期 : </div>
									<div class="retabcard-content">
										2019/03/01
									</div>
								</div>
								<div class="retabcard-cell">
									<div class=retabcard-cell-title>發票號碼 : </div>
									<div class="retabcard-content">
										HT258716888
									</div>
								</div>			
								<div class="retabcard-cell">
									<div class=retabcard-cell-title>交易金額 : </div>
									<div class="retabcard-content is-right">
										$ 175
									</div>
								</div>
								<div class="retabcard-cell">
									<div class=retabcard-cell-title>發票明細 : </div>
									<div class="retabcard-content">
										<a href="" target="_blank">查看發票明細</a>
									</div>
								</div>
								<div class="retabcard-cell">
									<div class=retabcard-cell-title>備註 : </div>
									<div class="retabcard-content">
										-
									</div>
								</div>
							</div>
							<div class="retabcard-row">
								<div class="retabcard-cell">
									<div class=retabcard-cell-index>發票日期 : </div>
									<div class="retabcard-content">
										2019/03/01
									</div>
								</div>
								<div class="retabcard-cell">
									<div class=retabcard-cell-title>發票號碼 : </div>
									<div class="retabcard-content">
										HT258716888
									</div>
								</div>			
								<div class="retabcard-cell">
									<div class=retabcard-cell-title>交易金額 : </div>
									<div class="retabcard-content is-right">
										$ 175
									</div>
								</div>
								<div class="retabcard-cell">
									<div class=retabcard-cell-title>發票明細 : </div>
									<div class="retabcard-content">
										<a href="" target="_blank">查看發票明細</a>
									</div>
								</div>
								<div class="retabcard-cell">
									<div class=retabcard-cell-title>備註 : </div>
									<div class="retabcard-content">
										-
									</div>
								</div>
							</div>
						</div>
						<!-- 2 -->
						<h3 class="layout-title-level-3 color-5">電子發票說明</h3>
						<ol class="light-height">
							<li>根據財政部令台財稅字第0952400194號訂定之「電子發票實施作業要點」，已將此發票儲存於您的訂單資料中，且將您的電子發票檔上傳到政府的<a href="https://www.einvoice.nat.gov.tw/index" target="_blank">財政部電子發票整合服務平台</a>供自由查詢。</li>
							<li>
								建議您將寰宇家庭載具做歸戶，請點選<a href="http://shopping.ltl.com.tw/eInvoice/Default.aspx" target="_blank">歸戶說明</a>依照步驟進行歸戶。<br/><br/>
								• 歸戶小提醒 :<br/>
								<ol class="pl-3">
									<li>進行歸戶後您即可在財稅中心電子發票整合服務平台查詢您在寰宇家庭消費開立的電子發票。</li>
									<li>已進行歸戶的電子發票資料您仍可在網站查詢消費明細。</li>
									<li>歸戶後之中獎發票將由財稅中心通知，本公司不再另行通知。</li>
								</ol>
								• 歸戶洽詢：
								<ul class="pl-3">
									<li><a href="https://www.einvoice.nat.gov.tw/index" target="_blank">財政部電子發票整合服務平台</a></li>
									<li>財稅中心24小時免費服務電話 0800-52-1988</li>
								</ul>
							</li>
							<li>核淮文號：財北國稅松山營業字第０９８０２０１４２０號。</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<?php include "html_model/footer.html";?>
		<?php include "html_model/floating-ui.html";?>
		<?php include "html_model/tabmenu.html";?>
	</div>
	<?php include "html_model/js-for-all.html";?>
	<!-- JS FOR THIS PAGE ONLY -->
	<script src="js/tmpAsideLb.js"></script>
	<script>
		$(function(){
			$(".art-list-f2-item").eq(7).find(".art-list-f2-link").addClass("now");
			// ^ 演示用，請參考 
		});
	</script>
</body>

</html>