<!--
KOREA
1. css/layout_kr.css ( in head.html )
2. html_model/header-2-kr.html
3. html_model/tabmenu-kr.html
4. html_model/footer-kr.html
//
TW (x back-prefix -tw x)
1. css/layout.css ( in head.html )
2. html_model/header-2.html
3. html_model/tabmenu.html
4. html_model/footer.html
-->
<!DOCTYPE html>
<html lang="ko">

<head>
	<?php include "html_model/head.html";?>
	<!-- CSS FOR THIS PAGE ONLY -->
	<link href="assets/plugins/selectbox/select_option1.css" rel="stylesheet" type="text/css">
	<link href="css/apply_kr.css" rel="stylesheet" type="text/css">
</head>

<body class="body-wrapper">
	<!--loaded-->
	<div class="main-wrapper">
		<!-- ====================================
		——— HEADER
		===================================== -->
		<header id="pageTop" class="header-wrapper">
			<?php include "html_model/header/header-1.html";?>
			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<?php include "html_model/header/header-2-kr.html";?>
				</div>
				<!-- ====================================
				——— BREAD CRUMB 
				===================================== -->
				<div class="layout-breadcrumb-box">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb text-truncate">
								<li class="breadcrumb-item">
									<a href="#">index</a>
								</li>
								<li class="breadcrumb-item">
									<a href="">WFC EVENT</a>
								</li>
								<li class="breadcrumb-item">
									Apply
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</nav>
		</header>
		<!-- main only -->
		<div class="container container-main container-col-1">
			<div class="row">
				<div class="layout-col-12">
					<div class="layout-main">
						<!-- LEVEL 1 -->
						<div class="sectionTitle text-center color-1 mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>Event Apply</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						<div class="layout-content">
							<h3 class="layout-title-level-3 icon1 mt-0">참가비용</h3>
							<div class="retable-above"></div>
							<div class="retabcard">
								<div class="retabcard-row retabcard-row-title">
									<div class="retabcard-cell">참가</div>
									<div class="retabcard-cell">인원</div>
									<div class="retabcard-cell">비가 비</div>
								</div>
								<div class="retabcard-row">
									<div class="retabcard-cell">
										<div class=retabcard-cell-index>참가 :</div>		
										<div class="retabcard-content">		
											기본 비용       
										</div>
									</div>
									<div class="retabcard-cell">
										<div class=retabcard-cell-title>인원 :</div>	
										<div class="retabcard-content">		
											성인 1 명 + 어린이 1 명
										</div>
									</div>
									<div class="retabcard-cell">
										<div class=retabcard-cell-title>비가 비 :</div>	
										<div class="retabcard-content is-price">		
											22,000 원
										</div>
									</div>
								</div>
								<div class="retabcard-row">
									<div class="retabcard-cell">
										<div class=retabcard-cell-index>참가 :</div>
										<div class="retabcard-content">
											추가 비용
										</div>
									</div>
									<div class="retabcard-cell">
										<div class=retabcard-cell-title>인원 :</div>
										<div class="retabcard-content">
											성인, 어린이 구분없이 1 명당
										</div>
									</div>			
									<div class="retabcard-cell">
										<div class=retabcard-cell-title>비가 비 :</div>
										<div class="retabcard-content is-price">
											5,000 원
										</div>
									</div>
								</div>
							</div>
							<div class="retable-under"></div>
							<h3 class="layout-title-level-3 icon2">안내사항</h3>
							<ol>
								<li>회원전용 이벤트이며, 회원 외에는 참가가 불가합니다.</li>
								<li>12개월 이하의 둘째(또는 셋째) 자녀는 무료입니다.</li>
								<li>이벤트 당일에는 신분증을 필참 하셔야 합니다.</li>
							</ol>
						</div>
					</div>
					<div class="dropbox is-show">
						<!--
						[^ 註 ^]
						檔下拉選單選出不同活動大類型，加給不同 class
						.is-show
						.is-active
						.is-carnival
						.is-camp
						-->
						<h3 class="layout-title-level-3 icon3 mb-0"></h3>
						<div class="dropGeneral roundTwo layout-drop-sm" style="width: 140px">
							<select class="select-drop">
								<option value="0">이벤트 카테고리</option>
								<option value="">Show</option>
								<option value="">Activity</option>
								<option value="">Carnival</option>
								<option value="">Camp</option>
							</select>
						</div>
						<div class="dropGeneral roundTwo layout-drop-sm" style="width: 100px">
							<select class="select-drop">
								<option value="0">부위</option>
								<option value="">서울</option>
								<option value="">부산</option>
								<option value="">서귀포시</option>
							</select>
						</div>
						<div class="dropGeneral roundTwo layout-drop-sm" style="width: 80px">
							<select class="select-drop">
								<option value="0">시각</option>
								<option value="1">11:00</option>
								<option value="2">13:30</option>
								<option value="">15:30</option>
								<option value="">17:00</option>
							</select>
						</div>						
					</div>
					<div class="cal">
						<div class="apply-intro">
							<p>다양한 색상 의미 :</p>
							<span class="is-event-1"></span> Froggy&Bunny Show / 
							<span class="is-event-2"></span>Family College Show /
							<span class="is-event-3"></span>Play Along! Show /
							<span class="is-event-4"></span>Christmas Show
							<!-- 
							[ ^註^ ]
							同一大分類中 (從下拉選單選)，
							若有多個系列小分類時 , 加 class =
							.is-event-1,.is-event-2,.is-event-3,.is-event-4
							下方日曆 tag .cal-region 對照加給
							-->
						</div>
						<div class="cal-date">
							<button class="cal-premon"><</button>
							2018 년 12 월
							<button class="cal-nexmon">></button>
						</div>
						<ul class="cal-weekbox">
							<li class="cal-seven">일</li>
							<li class="cal-seven">월</li>
							<li class="cal-seven">화</li>
							<li class="cal-seven">수</li>
							<li class="cal-seven">목</li>
							<li class="cal-seven">금</li>
							<li class="cal-seven">토</li>	
						</ul>
						<ul class="cal-box">
							<!-- new week -->
							<li class="cal-item is-sat is-other">
								<div class="cal-day">29</div>
								<div class="cal-week">일</div>
							</li>
							<li class="cal-item is-other">
								<div class="cal-day">30</div>
								<div class="cal-week">월</div>
							</li>
							<li class="cal-item is-other">
								<div class="cal-day">31</div>
								<div class="cal-week">화</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">01</div>
								<div class="cal-week">수</div>
								<a class="cal-link" href="#calDet" data-toggle="modal">
									<div class="cal-region is-event-1">
										<div class="cal-hmax">
											<em>부산 :</em>10:30、13:30、15:30、17:30
										</div>
									</div>
									<div class="cal-region is-event-2">
										<div class="cal-hmax">
											<em>부산 :</em>13:30、15:30、17:30
										</div>
									</div>
									<div class="cal-more">»</div>
								</a>
							</li>
							<li class="cal-item">
								<div class="cal-day">02</div>
								<div class="cal-week">목</div>
								<a class="cal-link" href="#calDet" data-toggle="modal">
									<div class="cal-region is-event-3">
										<div class="cal-hmax">
											<em>인천 :</em>13:30、15:30、17:30
										</div>
									</div>
									<div class="cal-region is-event-4">
										<div class="cal-hmax">
											<em>인천 :</em>13:30、15:30、17:30
										</div>
									</div>
									<div class="cal-more">»</div>
								</a>
							</li>
							<li class="cal-item">
								<div class="cal-day">03</div>
								<div class="cal-week">금</div>
							</li>
							<li class="cal-item is-sun">
								<div class="cal-day">04</div>
								<div class="cal-week">토</div>
							</li>
							<!-- new week -->
							<li class="cal-item is-sat">
								<div class="cal-day">05</div>
								<div class="cal-week">일</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">06</div>
								<div class="cal-week">월</div>
								<a class="cal-link" href="#calDet" data-toggle="modal">
									<div class="cal-region is-event-1">
										<div class="cal-hmax">
											<em>부산 :</em>10:30、13:30、15:30、17:30
										</div>
									</div>
								</a>
							</li>
							<li class="cal-item">
								<div class="cal-day">07</div>
								<div class="cal-week">화</div>
								<a class="cal-link" href="#calDet" data-toggle="modal">
									<div class="cal-region is-event-1">
										<div class="cal-hmax">
											<em>부산 :</em>10:30、13:30、15:30、17:30
										</div>
									</div>
									<div class="cal-region is-event-2">
										<div class="cal-hmax">
											<em>부산 :</em>13:30、15:30、17:30
										</div>
									</div>
									<div class="cal-more">»</div>
								</a>
							</li>
							<li class="cal-item">
								<div class="cal-day">08</div>
								<div class="cal-week">수</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">09</div>
								<div class="cal-week">목</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">10</div>
								<div class="cal-week">금</div>
							</li>
							<li class="cal-item is-sun">
								<div class="cal-day">11</div>
								<div class="cal-week">토</div>
								<a class="cal-link" href="#calDet" data-toggle="modal">
									<div class="cal-region is-event-1">
										<div class="cal-hmax">
											<em>부산 :</em>10:30、13:30、15:30、17:30
										</div>
									</div>
									<div class="cal-region is-event-2">
										<div class="cal-hmax">
											<em>부산 :</em>13:30、15:30、17:30
										</div>
									</div>
									<div class="cal-more">»</div>
								</a>
							</li>
							<!-- new week -->
							<li class="cal-item is-sat">
								<div class="cal-day">12</div>
								<div class="cal-week">일</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">13</div>
								<div class="cal-week">월</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">14</div>
								<div class="cal-week">화</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">15</div>
								<div class="cal-week">수</div>
								<a class="cal-link" href="#calDet" data-toggle="modal">
									<div class="cal-region is-event-1">
										<div class="cal-hmax">
											<em>부산 :</em>10:30、13:30、15:30、17:30
										</div>
									</div>
									<div class="cal-region is-event-1">
										<div class="cal-hmax">
											<em>인천 :</em>13:30、15:30、17:30
										</div>
									</div>
									<div class="cal-more">»</div>
								</a>
							</li>
							<li class="cal-item">
								<div class="cal-day">16</div>
								<div class="cal-week">목</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">17</div>
								<div class="cal-week">금</div>
							</li>
							<li class="cal-item is-sun">
								<div class="cal-day">18</div>
								<div class="cal-week">토</div>
							</li>
							<!-- new week -->
							<li class="cal-item is-sat">
								<div class="cal-day">19</div>
								<div class="cal-week">일</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">20</div>
								<div class="cal-week">월</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">21</div>
								<div class="cal-week">화</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">22</div>
								<div class="cal-week">수</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">23</div>
								<div class="cal-week">목</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">24</div>
								<div class="cal-week">금</div>
							</li>
							<li class="cal-item is-sun">
								<div class="cal-day">25</div>
								<div class="cal-week">토</div>
							</li>
							<!-- new week -->
							<li class="cal-item is-sat">
								<div class="cal-day">26</div>
								<div class="cal-week">일</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">27</div>
								<div class="cal-week">월</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">28</div>
								<div class="cal-week">화</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">29</div>
								<div class="cal-week">수</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">30</div>
								<div class="cal-week">목</div>
							</li>
							<li class="cal-item">
								<div class="cal-day">31</div>
								<div class="cal-week">금</div>
							</li>
							<li class="cal-item is-sun is-other">
								<div class="cal-day">01</div>
								<div class="cal-week">토</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<?php include "html_model/_event_kr/lightbox-apply.html";?>
		<?php include "html_model/footer-kr.html";?>
		<?php include "html_model/floating-ui.html";?>
		<?php include "html_model/tabmenu-kr.html";?>
	</div>
	<?php include "html_model/js-for-all.html";?>
	<!-- JS FOR THIS PAGE ONLY -->
	<script src="js/fullScreen.js"></script>
	<script>
		$('.select-drop').selectbox();
		$(function(){
			// $(".cal-link").first().click();
		});
	</script>
</body>

</html>