doctype html
html(lang='zh-Hant-TW')
	head 
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(href='css/aboutWf.css', rel='stylesheet', text='text/css')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper 
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') 首頁
									li.breadcrumb-item
										| 關於寰宇家庭
			.container.container-main.container-col-1
				.row
					.layout-col-12
						.layout-main
							.sectionTitle.text-center.color-1.mt-0
								h2
									span.shape.shape-left
									span 關於寰宇家庭
									span.shape.shape-right
							.layout-content.pl-0 寰宇家庭自1978年起，在日本行銷Disney’s World of English《迪士尼美語世界》產品，在1992年開啟了台灣的《迪士尼美語世界》，1997年更成功進軍香港，2014年進駐韓國，迄今已有百萬亞洲孩童，透過寰宇家庭的美語產品，以及寰宇家庭會員俱樂部的各項服務與活動，培養出優秀的美語能力！ 未來，寰宇家庭將持續以最適合亞洲孩子使用的美語學習系統《迪士尼美語世界》為更多的家庭服務！
							h3.layout-title-level-3.color-1 全球分公司 Offices
							.layout-content 服務版圖遍及東亞各主要國家，包括日本、台灣、香港及韓國。
								ul.card
									mixin wf( url , img , title , flag , sub )
										li.carditem
											a.cardlink(href=url, target='_blank')
												img(src=img)
											.cardmsg
												.cardleft
													.cardtitle #{title}
														img(src=flag)
													.cardsub #{sub}
												.cardright
													button.btn.layout-btn.color-1(type="button") ▸ 前往
									each item in wf
										+wf( item.url , item.img , item.title , item.flag , item.sub )

							h3.layout-title-level-3.color-1 我們的願景 Our Vision
							.layout-content 提供世界級的美語學習系統，貢獻給人們更美好的未來，培育世界一家的認同感，創造有效且歡愉的學習環境，協助人們夢想成真。
							
							h3.layout-title-level-3.color-1 核心價值 Core Value
							.layout-content 
								|•	真　　實：回饋與誠實
								br
								|•	信　　任：尊重與實踐
								br
								|•	團隊合作：責任和友誼
								br
								|•	客戶滿意：高品質、友善的服務、趣味性
								br
								|•	利　　潤：成長及公信力
								br
								|•	持續進步：數據評估與積極創新

							h3.layout-title-level-3.color-1 榮耀事蹟 Honor and Awards 
							.layout-content
								|寰宇家庭以品質及行銷的卓越，多次榮獲各項殊榮，秉持著一貫精益求精之精神，不斷地推陳出新。作為一個頂尖企業，寰宇家庭屢屢為自己定出下一個挑戰目標，為全球兒童創造最佳的美語學習環境！我們不但堅 持使命，同時也注重經營實績及企業形象，以此做為深化使命的的具體象徵。

							h3.layout-title-level-3.color-1 幫助孩子實現夢想 Our Mission
							.layout-content 
								|我們相信，熟練的美語可以發揮人的潛力、讓夢想成真，寰宇家庭每天都在這個信念下不斷努力。我們希望創造一個讓世界公民能夠輕鬆自在說美語的環境，因此我們提供有趣、豐富的產品與服務，藉此激發孩子的 好奇心。寰宇家庭不斷創造機會讓孩子學習美語，進行美語溝通與交流，這個教育計劃，將讓孩子學習到更完善的美語。
					
			include partials/public_footer_tw.pug
			// JS FOR THIS PAGE ONLY
